.menu {
    min-height: 100vh !important;
    padding-top: 20px;
    background-color: rgba(6, 1, 41, 1);
    display: flex;
    justify-content: center;
    color: #a5aebc;
    /*color: rgb(165,174,188);*/
}