
.menu{
    min-height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
    
    margin: 16px;
  }
.titulos{
    color: white;
    padding-left: 5%;
    margin: 0%;
}

.inputss{
    width: 100%;
  
    
}
.capa{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;   
}

.fecha{
    padding-left: 5%;
    padding-right: 5%;   
}

.Adv{
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
       
}

.TextOcultas{
    color:black;
    padding-left: 5%;
    padding-bottom: 5%;
    margin: 0%;
}
.ant-row-space-between{
    padding-bottom: 2%;
}
.boton{
    width:100% !important;
 

}
.botonExt{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    width: 100% !important;
    position: absolute;
    bottom: 0;


}