
.menu{
    min-height: 90%;
}

.logoTw {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

.titulos{
    color: white;
    padding-left: 5%;
    margin: 0%;
}

.inputss{
    width: 100%;  
}

.capa{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.9%;   
}

.fecha{
    padding-left: 5%;
    padding-right: 5%;   
}

.Adv{
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%; 
}

.TextOcultas{
    color:black;
    padding-left: 5%;  
    margin: 0%;
}

.boton{
    width: 100% !important;
 
}
.botonExt{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    width: 100% !important;
}